{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@heat-check/components": "./components"
        },
        "extensions": [".ios.js", ".android.js", ".js", ".json"]
      }
    ]
  ]
}
